<h4>商品編集</h4>

 <%= form_with model: [:admin, @item], url: admin_item_path(@item.id), method: :patch do |f| %>
      <table>
        <tr>
          <th>商品画像</th>
          <td><%= f.file_field :item_image, accept: "image/*"%></td>
        </tr>
        <tr>
          <th>商品名</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= f.text_area :detail %></td>
        </tr>
         <tr>
          <th>ジャンル</th>
          <td><%= f.collection_select :id, Genre.all, :id, :name %></td>
        </tr>
        <tr>
          <th>税抜き価格</th>
          <td><%= f.number_field :tax_exclusive_price %>円</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td><%= f.radio_button :is_active, :true %>
        <%= label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :is_active, :false %>
        <%= label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %></td>
        </tr>
      </table>
      <%= f.submit "変更を保存", class: "btn btn-success" %>
 <% end %>