<h1>商品一覧</h1>

<%= link_to "＋ボタン", new_admin_item_path %>

<table>
    <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th></th>
          <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.tax_exclusive_price %></td>
          <td><%= item.genre.name %></td> 
          <td></td>
          <td>
            <% if item.is_active == false %>
              <strong class="text-black-50">販売停止中</strong>
            <% else %>
              <strong class="text-success">販売中</strong>
            <% end %></td>
        </tr>
       <% end %>
    </tbody>
</table>

<%= paginate @items %>

