<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-7">
      <h3>商品詳細</h3>
      <div class="row g-3 align-items-center">
        商品名 <%= @item.name %>
        商品説明 <%= @item.detail %>
        ジャンル <%= @item.genre.id %>
        税込価格 <%= @item.tax_exclusive_price %>
        （税抜価格） <%= @item.tax_included_price %>
        販売ステータス <%= @item.is_active %>
      </div>
    </div>
  </div>
</div>