<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render "public/shared/genre_search", genres: @genres %>
    </div>
    <div class="col-8">
      <div class="card border-0">
        <div class="card-img-overlay">
          <div class="row">
            <div class="col">
              <div class="cover-text text-center ml-5  py-5">
                <p>
                ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員ではない方も商品の閲覧ができますが、<br>
                購入には会員登録が必要になります。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <%= image_tag 'no_image.jpg', size: "500x250" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <h4>新着商品</h4>
      <table cellpadding="7" cellspacing="7">
        <tbody>
          <% @items.each do |item| %>
            <td>
              <%= link_to item_path(item) do %>
                <%= image_tag item.get_item_image(150,100) %><br>
              <% end %>
              <%= item.name %><br>
              ￥<%= item.with_tax_price.to_s(:delimited) %>
            </td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-10 text-right">
      <%=  link_to "全ての商品を見る>", items_path, style:"text-dark" %>
    </div>
  </div>
</div>