<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render "public/shared/genre_search", genres: @genres %>
    </div>
    <div class="col-8">
      <div class="top_introduction text-center ml-5  py-5">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員ではない方も商品の閲覧ができますが、<br>
        購入には会員登録が必要になります。
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <h4>新着商品</h4>
      <table cellpadding="7" cellspacing="7">
        <tbody>
          <% @items.each do |item| %>
            <td><%= image_tag item.get_item_image(150,100) %><br>
              <%= item.name %><br>
              ￥<%= item.with_tax_price %>
            </td>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-right">
    <%=  link_to "すべての商品を見る>", items_path %></div>
  </div>
</div>