<div class="container">
  <div class="row">
    <h3>会員一覧</h3>
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customer.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to admin_customer_path(customer.id) do %>
              <u class="text-body">
                <%= customer.first_name %><%= customer.last_name %>
              </u>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == false %>
              <strong class="text-success">有効</strong>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row mx-auto"><%= paginate @customer %></div>
  </div>
</div>