<div class="container">
  <div class="row">
    <h4 class="ml-5 mb-4">会員一覧</h4>
  </div>
  <div class="row">
    <table class="table table-hover table-bordered ">
      <thead>
        <tr class="table-secondary ">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody class="table-md h7">
        <% @customer.each do |customer| %>
        <tr>
          <td class="align-middle"><%= customer.id %></td>
          <td class="align-middle">
            <%= link_to admin_customer_path(customer.id) do %>
              <u>
                <div class=" text-dark">
                <%= customer.first_name %><%= customer.last_name %>
              </u>
            </div>
            <% end %>
          </td>
          <td class="align-middle"><%= customer.email %></td>
          <td class="align-middle">
            <% if customer.is_deleted == false %>
              <strong class="text-success">有効</strong>
            <% else %>
              <strong class="text-black-50">退会</strong>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row mx-auto"><%= paginate @customer %></div>
  </div>
</div>