<div class="container">
  <div class="row mt-3">
    <div class="col offset-sm-1 col-sm-5">
      <h4><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h4>
      <table class="table table-borderless">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.first_name %>　<%= @customer.last_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.first_name_kana %>　<%= @customer.last_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @customer.is_deleted == false %>
              <strong class="text-success">有効</strong>
            <% else %>
              <strong class="text-black-50">退会</strong>
            <% end %>
          </td>
        </tr>
      </table>&emsp; &emsp; &emsp;&emsp; &emsp;
      <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success btn-sm" %>&emsp;&emsp; &emsp;
      <%= link_to "注文履歴一覧を見る", admin_top_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
</div>