<div class="container">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <div class="col-2 mb-2 ml-3"><strong>購入者</strong></div>
    <div class="col-2 mb-2 mr-5">
      <%= @order.customer.first_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-2 ml-3"><strong>注文日</strong></div>
    <div class="col-2 mb-2 mr-5">
      <%= @order.created_at.strftime("%Y/%m/%d") %>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-2 ml-3"><strong>配送先</strong></div>
    <div class="col-2 mb-2 mr-5">
        〒<%= @order.select_post_code %>
        <%= @order.select_address %>
        <%= @order.select_receiver %>
      </div>
    </div>
  <div class="row">
    <div class="col-2 mb-2 ml-3"><strong>支払方法</strong></div>
    <div class="col-2 mb-2 mr-5">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-2 ml-3"><strong>注文ステータス</strong></div>
    <div class="col-2 mb-2 mr-5">
      <%= form_with url: admin_order_path(@order.id), model: @order do |f| %>
        <%= f.select :order_status, Order.order_statuses_i18n.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
      <%= f.submit "変更", class: "btn btn-success btn-sm" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-8" style="margin-top: 50px;">
      <table class="table table-border="0"">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th colspan="1"></th>
          </tr>
          <% @order_details.each do |order_detail| %>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |f| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detail.tax_included_price %></td>
                <td><%= order_detail.quantity %></td>
                <td><%= order_detail.tax_included_price * order_detail.quantity %>円</td>
                <td><%= f.select :production_status, OrderDetail.production_statuses_i18n.keys.map {|k| [I18n.t("enums.order_detail.production_status.#{k}"), k]} %></td>
                <td><%= f.submit "変更", class: "btn btn-success" %></td>
              </tr>
            <% end %>
          <% end %>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <table class="col-3 ml-5" style="margin-top: 70px;">
      <tr>
        <td><strong>商品合計</strong></td>
        <td><%= @total = @order.billing_amount - @order.postage %>円</td>
      </tr>
      <tr>
        <td><strong>送料</strong></td>
        <td><%= @order.postage %>円</td>
      </tr>
      <tr>
        <td><strong>請求金額合計</strong></td>
        <td><%= @total + @order.postage %>円</td>
      </tr>
    </table>
    </div>
  </div>
</div>