<div class="container">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <div>
      <b class="col">購入者</b>
      <div class="col-sm-3"><%= @order.customer.first_name %></div>
    </div>
    <div>
      <b class="col">注文日</b>
      <div class="col-sm-3"><%= @order.created_at.strftime("%Y/%m/%d") %></div>
    </div>
    <div>
      <b class="col">配送先</b>
      <div class="col-sm-3">
        <%= @order.select_post_code %>
        <%= @order.select_address %><br>
        <%= @order.select_receiver %>
      </div>
    </div>
    <div>
      <b class="col">支払方法</b>
      <div class="col-sm-3"><%= @order.payment_method_i18n %></div>
    </div>
    <div>
      <b class="col">注文ステータス</b>
      <div class="col-sm-3">
        <%= form_with url: admin_order_path(@order.id), model: @order do |f| %>
          <%= f.select :order_status, Order.order_statuses_i18n.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
          <%= f.submit "変更", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td>
              <%= "〒" + order_detail.order.select_post_code %>
              <%= order_detail.order.select_address %>
              <%= order_detail.order.select_receiver %>
            </td>
            <td><%= order_detail.quantity %></td>
            <td><%= order_detail.tax_included_price + order_detail.quantity %>円</td>
            <%= form_with url: admin_order_detail_path(order_detail.id), model: order_detail do |f| %>
              <td>
                <%= f.select :production_status, OrderDetail.production_statuses_i18n.keys.map {|k| [I18n.t("enums.order_detail.production_status.#{k}"), k]} %>
              </td>
              <td>
                 <%= f.submit "変更", class: "btn btn-success" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>