<div class="container">
  <div class="row">
    <h4 class="ml-5 mb-4">ショッピングカート</h4>
    <div class="offset-7">
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="col offset-2">
      
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead class="table-active">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th> </th>
        </tr>
      </thead>
      <tbody class="table-sm h6">
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="pr-2"><%= image_tag cart_item.item.get_item_image(60,40) %><span class="offset-1"><%= cart_item.item.name %></span></td>
            <td class="align-middle"><%= cart_item.item.with_tax_price %></td>
            <td> 
              <%= form_with url: cart_item_path(cart_item.id), model: cart_item do |f| %>
                <%= f.select :item_quantity, *[1..10] %>
                <%= f.submit "変更", class: "btn btn-success btn-sm" %>
              <% end %>
            </td>
            <td class="align-middle"><%= cart_item.subtotal %></td>
            <td>
              <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
    </div>
    <div class="col">
      <table class="table table table-bordered">
        <tbody>
          <tr>
            <th style="width: 20%" class="table-active flex-fill">合計金額</th>
            <td class="align-middle">
              <% @cart_items.each do |cart_item| %>
                <% @total += cart_item.subtotal %>
              <% end %>
              <%= @total %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col align-middle text-center">
      <%= form_with model: @order, url: new_order_path, method: :get do |f| %>
        <% @cart_items.each do |cart_item| %>
          <%= f.hidden_field :id, :value => cart_item.id %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <% end %>
        <% if @total == 0 %>
        <% else %>
          <% f.hidden_field :billing_amount, :value => @total %>
          <%= f.submit '情報入力に進む', class: "btn btn-sm btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>