<h3>新規会員登録</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <label>名前</label>
    (姓)<%= f.text_field :first_name, placeholder: "令和" %>
    (名)<%= f.text_field :last_name, placeholder: "道子" %>
  </div>

  <div class="field">
    <label>フリガナ</label>
    (セイ)<%= f.text_field :first_name_kana, placeholder: "レイワ" %>
    (メイ)<%= f.text_field :last_name_kana, placeholder: "ミチコ" %>
  </div>

  <div class="field">
    <label>メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <label>郵便番号(ハイフンなし)</label>
    <%= f.text_field :post_code, placeholder: "0000000" %>
  </div>

  <div class="field">
    <label>住所</label>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>

  <div class="field">
    <label>電話番号(ハイフンなし)</label>
    <%= f.text_field :phone_number, placeholder: "0000000000" %>
  </div>

  <div class="field">
    <label>パスワード</label>
    <% if @minimum_password_length %>
      <span>(<%= @minimum_password_length %>文字以上)</span>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <label>パスワード(確認用)</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
<% end %>
<h3>既に登録済みの方</h3>
<%= render "public/shared/links" %>
