<div class="container">
  <div class="row">
    <div class="col">
      <h2>注文履歴一覧</h2>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.created_at.strftime("%Y/%m/%d") %></td>
            <td>
              <%= "〒" + order_detail.order.select_post_code %>
              <%= order_detail.order.select_address %>
              <%= order_detail.order.select_receiver %>
            </td>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.order.billing_amount.to_i + order_detail.order.postage.to_i %>円</td>
            <td><%= order_detail.production_status %></td>
            <td>
               <%= link_to "表示する", order_path(order_detail.id), class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>