<div class="container">
  <div class="row">
    <h4 class="ml-5 mb-4">注文履歴一覧</h4>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody class="table-sm h6">
        <% @orders.each do |order| %>
          <tr>
            <td class="align-middle"><%= order.created_at.strftime("%Y/%m/%d") %></td>
            <td class="align-middle">
              <%= "〒" + order.select_post_code %><br>
              <%= order.select_address %><br>
              <%= order.select_receiver %>
            </td>
            <td class="align-middle">
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %><br>
              <% end %>
            </td>
            <td class="align-middle"><%= order.billing_amount.to_s(:delimited) %>円</td>
            <td class="align-middle"><%= order.order_status_i18n %></td>
            <td  class="align-middle text-center">
              <%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>