<div class="container">
  <h2>注文情報入力</h2>
  <div class="row">
    <div class="col">
      <%= form_with model: @order do |f| %>
        <b>支払方法</b>
        <div class="form-check">
          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
        </div>
        <div class="form-check">
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        </div>
          <%= f.hidden_field :select_post_code, :value => 0 %>
          <%= f.hidden_field :select_address, :value => 0 %>
          <%= f.hidden_field :select_receiver, :value => 0 %>
          <%= f.hidden_field :postage, :value => 0 %>
          <%= f.hidden_field :billing_amount, :value => 0 %>
          <%= f.hidden_field :order_status, :value => 0 %>
      <% end %>
    </div>
  </div>
</div>