<div class="container">
  <div class="row mb-3">
    <div class="col lg-6">
      <h4>ログイン</h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-4 ml-2">
      会員の方はこちらからログイン
    </div>
  </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row justify-content-center">
        <div class="field">
          <label>メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
  </div>
   <div class="row justify-content-center">
    <div class="col-4 ml-2">  
        <div class="field">
          <label>パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
    </div>
  </div>       
  <div class="row justify-content-center">
     <div class="col-4 ml-2">
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
        <% end %>
  <div class="row mb-5">
    <div class="col-4 ml-2">     
      <p>会員登録がお済みでない方</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-4 ml-2">     
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>
