<h3>ログイン</h3>
<p>会員の方はこちらからログイン</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label>メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label>パスワード</label>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<p>会員登録がお済みでない方</p>
<%= render "public/shared/links" %>
