<div class="container">
  <div class="row">
    <div class="col-2">
      <div>ジャンル検索</div>
      <div>ケーキ</div>
      <div>焼き菓子</div>
      <div>プリン</div>
      <div>キャンディ</div>
    </div>
    <div class="col-9">
      <p class="h2">商品一覧<span class="h4">(全 <%= Item.count %> 件)</p>
      <div class ="d-flex flex-row flex-wrap">
        <% @items.each do |item| %>
          <div class="col-md-3">
            <%= image_tag item.get_item_image(150,100) %><br>
            <%= link_to item.name, item_path(item.id) %><br>
            ￥<%= item.with_tax_price %><br>
          </div>
        <% end %>
      </div>
    </div>
    <%= paginate @items %>
  </div>
</div>

