<table>
  <thead>
    <tr><th>ジャンル検索</th></tr>
  </thead>
  <tbody>
    <tr><td>ケーキ</td></tr>
    <tr><td>焼き菓子</td></tr>
    <tr><td>プリン</td></tr>
    <tr><td>キャンディ</td></tr>
  </tbody>
</table>

<h4>商品一覧</h4><h6>(全 <%= @items.count %> 件)</h6>
<table>
  <tbody>
    <% @items.each do |items| %>
      <tr><%= item.item_image %></tr>
      <tr><%= item.name %></tr>
      <tr><%= @item.with_tax_price %></tr>
     <% end %>
  </tbody>
</table>

<%= paginate @items %>

