<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render "public/shared/genre_search", genres: @genres %>
    </div>
    <div class="col-9">
      <p class="h2 mb-3">商品一覧<span class="h4">(全 <%= Item.count %> 件)</span></p>
      <div class ="d-flex flex-row flex-wrap">
        <% @items.each do |item| %>
          <div class="col-md-3 mb-3">
            <div class= "mb-1">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_item_image(150,100) %>
              <% end %>
            </div>
            <div class= "mb-1"><%= item.name %></div>
            ￥<%= item.with_tax_price.to_s(:delimited) %><br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-6 "><%= paginate @items %></div>
  </div>
</div>

