<div class="container">
  <div class="row">
    <div class="col">
      <% if @item.item_image.attached? %>
        <%= image_tag @item.get_item_image(100,100) %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      <%= @item.name %>
      <%= @item.detail %>
      <%= @item.tax_exclusive_price %>
      
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :item_quantity, *[1..10] %>
        <%= f.submit 'カートに入れる', class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>