 <header>
    <div class="container">
      <div class="row">
        <div class="col float-left">
          <%= link_to root_path,class: 'btn btn-outline-dark' do %>
            LOGO
          <% end %>
        </div>
        <div class="header_link">
          <div class="d-grid gap-2 d-md-block">
          <% if customer_signed_in? %>
            <div class="float-right">
              <%= link_to my_page_path(current_customer),class: 'btn btn-outline-dark' do %>
                マイページ
              <% end %>
              <%=  link_to items_path,class: 'btn btn-outline-dark' do %>
                商品一覧
              <% end %>
              <%=  link_to cart_items_path ,class: 'btn btn-outline-dark' do %>
                カート
              <% end %>
              <%= link_to destroy_customer_session_path, method: :delete,class: 'btn btn-outline-dark' do %>
                ログアウト
              <% end %>
            </div>
          <% elsif admin_signed_in? %>
            <div class="float-right">
              <%= link_to items_path,class: 'btn btn-outline-dark' do %>
                商品一覧
              <% end %>
              <%=  link_to admin_customers_path,class: 'btn btn-outline-dark' do %>
                会員一覧
              <% end %>
              <%= link_to admin_top_path,class: 'btn btn-outline-dark' do %>
                注文履歴一覧
              <% end %>
              <%= link_to destroy_admin_session_path, method: :delete,class: 'btn btn-outline-dark' do %>
                ログアウト
              <% end %>
            </div>
          <% else %>
            <div class="float-right">
              <%= link_to about_path,class: 'btn btn-outline-dark' do %>
                About
              <% end %>
              <%=  link_to items_path,class: 'btn btn-outline-dark' do %>
                商品一覧
              <% end %>
              <%= link_to new_customer_registration_path,class: 'btn btn-outline-dark' do %>
                新規登録
              <% end %>
              <%= link_to new_customer_session_path ,class: 'btn btn-outline-dark' do %>
                ログイン
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
        <span class="botder border-dark"></span>
      </div>
    </div>
 </header>